.cardCharacter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
     width: auto;
    border: 1px solid rgb(168, 132, 132);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.cardCharacter:hover {
    transform: scale(1.05);
  }
  

