.input {
  border-radius: 6px;
  height: 18px;
  margin-left: 12px;
}
.button {
  color: rgb(5, 2, 2);
  background-color: #878688;
  border-radius: 60px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;

}
.buscador{
  display: flex;
  align-items: center;

}

