.container {
  background-color:  rgb(42, 32, 185);
  border-right: 3px solid #d4d4d4;
  height: 30px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}
a {
  color: #0a0701;
  font-weight: 700;
}
a:hover {
  color: rgb(42, 32, 185);
  font-weight: 700;
}
.botones {
  color: rgb(5, 2, 2);
  background-color: #868887;
  border-radius: 60px;
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
}
.botones:hover {
  border: 1px solid #b7c5c1;
  background-color: #d6ad60;
  transition: all 0.4s ease-in-out;
}